In [1]:
from google.colab import drive
drive.mount('/content/gdrive')
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")
from sklearn.preprocessing import LabelEncoder
import nltk
from sklearn.model_selection import train_test_split
import math
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import SimpleRNN
from keras.layers import Dropout
from keras.layers import Activation
from keras.layers import BatchNormalization
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix

import time

import warnings
warnings.filterwarnings("ignore")

Mounted at /content/gdrive

In [2]:
df_data = pd.read_csv('gdrive/My Drive/TA/Copy of DoS.csv')
df_data.head()

   frame.time_delta  frame.time_delta_displayed  ...  mqtt.willtopic_len    type
0          0.000000                    0.000000  ...                 NaN  normal
1          0.001922                    0.001922  ...                 NaN  normal
2          0.001010                    0.001010  ...                 NaN  normal
3          0.008597                    0.008597  ...                 NaN  normal
4          0.002925                    0.002925  ...                 NaN  normal

[5 rows x 67 columns]

# Sebelum Preprocessing

In [3]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94625 entries, 0 to 94624
Data columns (total 67 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   frame.time_delta            94625 non-null  float64
 1   frame.time_delta_displayed  94625 non-null  float64
 2   frame.time_epoch            94625 non-null  float64
 3   frame.time_invalid          0 non-null      float64
 4   frame.time_relative         94625 non-null  float64
 5   ip.src                      93592 non-null  object
 6   ip.dst                      93592 non-null  object
 7   tcp.srcport                 88460 non-null  float64
 8   tcp.dstport                 88460 non-null  float64
 9   eth.src                     94625 non-null  object
 10  eth.dst                     94625 non-null  object
 11  frame.cap_len               94625 non-null  int64
 12  frame.coloring_rule.name    0 non-null      float64
 13  frame.coloring_rule.string  0 non-null      float64
 14  frame.comment               0 non-null      float64
 15  frame.comment.expert        0 non-null      float64
 16  frame.encap_type            94625 non-null  int64
 17  frame.file_off              0 non-null      float64
 18  frame.ignored               94625 non-null  int64
 19  frame.incomplete            0 non-null      float64
 20  frame.interface_id          0 non-null      float64
 21  frame.interface_name        0 non-null      float64
 22  frame.len                   94625 non-null  int64
 23  frame.link_nr               0 non-null      float64
 24  frame.marked                94625 non-null  int64
 25  frame.md5_hash              0 non-null      float64
 26  frame.number                94625 non-null  int64
 27  frame.offset_shift          94625 non-null  float64
 28  mqtt.clientid               323 non-null    object
 29  mqtt.clientid_len           323 non-null    float64
 30  mqtt.conack.flags           770 non-null    object
 31  mqtt.conack.flags.reserved  770 non-null    float64
 32  mqtt.conack.flags.sp        770 non-null    float64
 33  mqtt.conack.val             770 non-null    float64
 34  mqtt.conflag.cleansess      323 non-null    float64
 35  mqtt.conflag.passwd         323 non-null    float64
 36  mqtt.conflag.qos            323 non-null    float64
 37  mqtt.conflag.reserved       323 non-null    float64
 38  mqtt.conflag.retain         323 non-null    float64
 39  mqtt.conflag.uname          323 non-null    float64
 40  mqtt.conflag.willflag       323 non-null    float64
 41  mqtt.conflags               323 non-null    object
 42  mqtt.dupflag                38464 non-null  float64
 43  mqtt.hdrflags               39535 non-null  object
 44  mqtt.kalive                 323 non-null    float64
 45  mqtt.len                    39535 non-null  float64
 46  mqtt.msg                    37733 non-null  object
 47  mqtt.msgid                  791 non-null    float64
 48  mqtt.msgtype                39535 non-null  float64
 49  mqtt.passwd                 0 non-null      float64
 50  mqtt.passwd_len             0 non-null      float64
 51  mqtt.proto_len              323 non-null    float64
 52  mqtt.protoname              323 non-null    object
 53  mqtt.qos                    38464 non-null  float64
 54  mqtt.retain                 38464 non-null  float64
 55  mqtt.sub.qos                4 non-null      float64
 56  mqtt.suback.qos             4 non-null      float64
 57  mqtt.topic                  37737 non-null  object
 58  mqtt.topic_len              38468 non-null  float64
 59  mqtt.username               0 non-null      float64
 60  mqtt.username_len           0 non-null      float64
 61  mqtt.ver                    323 non-null    float64
 62  mqtt.willmsg                0 non-null      float64
 63  mqtt.willmsg_len            0 non-null      float64
 64  mqtt.willtopic              0 non-null      float64
 65  mqtt.willtopic_len          0 non-null      float64
 66  type                        94625 non-null  object
dtypes: float64(49), int64(6), object(12)
memory usage: 48.4+ MB

# Preprocessing

In [4]:
print (df_data.isnull().sum())

frame.time_delta                  0
frame.time_delta_displayed        0
frame.time_epoch                  0
frame.time_invalid            94625
frame.time_relative               0
                              ...
mqtt.willmsg                  94625
mqtt.willmsg_len              94625
mqtt.willtopic                94625
mqtt.willtopic_len            94625
type                              0
Length: 67, dtype: int64

In [5]:
df_data.drop(['frame.time_invalid','frame.coloring_rule.name', 'frame.coloring_rule.string', 'frame.comment', 'frame.comment.expert', 'frame.file_off', 'frame.incomplete', 'frame.interface_id', 'frame.interface_name', 'frame.link_nr', 'frame.md5_hash', 'mqtt.passwd', 'mqtt.passwd_len', 'mqtt.username', 'mqtt.username_len', 'mqtt.willmsg', 'mqtt.willmsg_len', 'mqtt.willtopic', 'mqtt.willtopic_len'], axis=1, inplace = True)
print (df_data.isnull().sum())

frame.time_delta                  0
frame.time_delta_displayed        0
frame.time_epoch                  0
frame.time_relative               0
ip.src                         1033
ip.dst                         1033
tcp.srcport                    6165
tcp.dstport                    6165
eth.src                           0
eth.dst                           0
frame.cap_len                     0
frame.encap_type                  0
frame.ignored                     0
frame.len                         0
frame.marked                      0
frame.number                      0
frame.offset_shift                0
mqtt.clientid                 94302
mqtt.clientid_len             94302
mqtt.conack.flags             93855
mqtt.conack.flags.reserved    93855
mqtt.conack.flags.sp          93855
mqtt.conack.val               93855
mqtt.conflag.cleansess        94302
mqtt.conflag.passwd           94302
mqtt.conflag.qos              94302
mqtt.conflag.reserved         94302
mqtt.conflag.retain           94302
mqtt.conflag.uname            94302
mqtt.conflag.willflag         94302
mqtt.conflags                 94302
mqtt.dupflag                  56161
mqtt.hdrflags                 55090
mqtt.kalive                   94302
mqtt.len                      55090
mqtt.msg                      56892
mqtt.msgid                    93834
mqtt.msgtype                  55090
mqtt.proto_len                94302
mqtt.protoname                94302
mqtt.qos                      56161
mqtt.retain                   56161
mqtt.sub.qos                  94621
mqtt.suback.qos               94621
mqtt.topic                    56888
mqtt.topic_len                56157
mqtt.ver                      94302
type                              0
dtype: int64

In [6]:
df_data.drop(['mqtt.clientid','mqtt.clientid_len', 'mqtt.conack.flags', 'mqtt.conack.flags.reserved', 'mqtt.conack.flags.sp', 'mqtt.conack.val', 'mqtt.conflag.cleansess', 'mqtt.conflag.passwd', 'mqtt.conflag.qos', 'mqtt.conflag.reserved', 'mqtt.conflag.retain', 'mqtt.conflag.uname', 'mqtt.conflag.willflag', 'mqtt.conflags', 'mqtt.kalive', 'mqtt.msgid', 'mqtt.proto_len', 'mqtt.protoname', 'mqtt.sub.qos', 'mqtt.suback.qos', 'mqtt.ver'], axis=1, inplace = True)
print (df_data.isnull().sum())

frame.time_delta                  0
frame.time_delta_displayed        0
frame.time_epoch                  0
frame.time_relative               0
ip.src                         1033
ip.dst                         1033
tcp.srcport                    6165
tcp.dstport                    6165
eth.src                           0
eth.dst                           0
frame.cap_len                     0
frame.encap_type                  0
frame.ignored                     0
frame.len                         0
frame.marked                      0
frame.number                      0
frame.offset_shift                0
mqtt.dupflag                  56161
mqtt.hdrflags                 55090
mqtt.len                      55090
mqtt.msg                      56892
mqtt.msgtype                  55090
mqtt.qos                      56161
mqtt.retain                   56161
mqtt.topic                    56888
mqtt.topic_len                56157
type                              0
dtype: int64

In [7]:
le = LabelEncoder()
 
df_data['type']= le.fit_transform(df_data['type'])
df_data['frame.encap_type']= le.fit_transform(df_data['frame.encap_type'])

print(df_data['type'])

0        1
1        1
2        1
3        1
4        1
        ..
94620    1
94621    1
94622    1
94623    1
94624    1
Name: type, Length: 94625, dtype: int64

In [8]:
df_data['ip.src'] = df_data['ip.src'].fillna(df_data['ip.src'].mode()[0])
df_data['ip.dst'] = df_data['ip.dst'].fillna(df_data['ip.dst'].mode()[0])
df_data['tcp.srcport'] = df_data['tcp.srcport'].fillna(df_data['tcp.srcport'].mean())
df_data['tcp.dstport'] = df_data['tcp.dstport'].fillna(df_data['tcp.dstport'].mean())
df_data['mqtt.dupflag'] = df_data['mqtt.dupflag'].fillna(0)
df_data['mqtt.hdrflags'] = df_data['mqtt.hdrflags'].fillna(0)
df_data['mqtt.len'] = df_data['mqtt.len'].fillna(0)
df_data['mqtt.msg'] = df_data['mqtt.msg'].fillna(0)
df_data['mqtt.msgtype'] = df_data['mqtt.msgtype'].fillna(0)
df_data['mqtt.qos'] = df_data['mqtt.qos'].fillna(0)
df_data['mqtt.retain'] = df_data['mqtt.retain'].fillna(0)
df_data['mqtt.topic'] = df_data['mqtt.topic'].fillna(0)
df_data['mqtt.topic_len'] = df_data['mqtt.topic_len'].fillna(0)

print(df_data.isna().sum())

frame.time_delta              0
frame.time_delta_displayed    0
frame.time_epoch              0
frame.time_relative           0
ip.src                        0
ip.dst                        0
tcp.srcport                   0
tcp.dstport                   0
eth.src                       0
eth.dst                       0
frame.cap_len                 0
frame.encap_type              0
frame.ignored                 0
frame.len                     0
frame.marked                  0
frame.number                  0
frame.offset_shift            0
mqtt.dupflag                  0
mqtt.hdrflags                 0
mqtt.len                      0
mqtt.msg                      0
mqtt.msgtype                  0
mqtt.qos                      0
mqtt.retain                   0
mqtt.topic                    0
mqtt.topic_len                0
type                          0
dtype: int64

In [9]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94625 entries, 0 to 94624
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   frame.time_delta            94625 non-null  float64
 1   frame.time_delta_displayed  94625 non-null  float64
 2   frame.time_epoch            94625 non-null  float64
 3   frame.time_relative         94625 non-null  float64
 4   ip.src                      94625 non-null  object
 5   ip.dst                      94625 non-null  object
 6   tcp.srcport                 94625 non-null  float64
 7   tcp.dstport                 94625 non-null  float64
 8   eth.src                     94625 non-null  object
 9   eth.dst                     94625 non-null  object
 10  frame.cap_len               94625 non-null  int64
 11  frame.encap_type            94625 non-null  int64
 12  frame.ignored               94625 non-null  int64
 13  frame.len                   94625 non-null  int64
 14  frame.marked                94625 non-null  int64
 15  frame.number                94625 non-null  int64
 16  frame.offset_shift          94625 non-null  float64
 17  mqtt.dupflag                94625 non-null  float64
 18  mqtt.hdrflags               94625 non-null  object
 19  mqtt.len                    94625 non-null  float64
 20  mqtt.msg                    94625 non-null  object
 21  mqtt.msgtype                94625 non-null  float64
 22  mqtt.qos                    94625 non-null  float64
 23  mqtt.retain                 94625 non-null  float64
 24  mqtt.topic                  94625 non-null  object
 25  mqtt.topic_len              94625 non-null  float64
 26  type                        94625 non-null  int64
dtypes: float64(13), int64(7), object(7)
memory usage: 19.5+ MB

In [10]:
df_data['ip.src'] = df_data['ip.src'].apply(pd.to_numeric, errors='coerce')
df_data['ip.dst'] = df_data['ip.dst'].apply(pd.to_numeric, errors='coerce')
df_data['eth.src'] = df_data['eth.src'].apply(pd.to_numeric, errors='coerce')
df_data['eth.dst'] = df_data['eth.dst'].apply(pd.to_numeric, errors='coerce')
df_data['mqtt.hdrflags'] = df_data['mqtt.hdrflags'].apply(pd.to_numeric, errors='coerce')
df_data['mqtt.msg'] = df_data['mqtt.msg'].apply(pd.to_numeric, errors='coerce')
df_data['mqtt.topic'] = df_data['mqtt.topic'].apply(pd.to_numeric, errors='coerce')

df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94625 entries, 0 to 94624
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   frame.time_delta            94625 non-null  float64
 1   frame.time_delta_displayed  94625 non-null  float64
 2   frame.time_epoch            94625 non-null  float64
 3   frame.time_relative         94625 non-null  float64
 4   ip.src                      0 non-null      float64
 5   ip.dst                      0 non-null      float64
 6   tcp.srcport                 94625 non-null  float64
 7   tcp.dstport                 94625 non-null  float64
 8   eth.src                     0 non-null      float64
 9   eth.dst                     0 non-null      float64
 10  frame.cap_len               94625 non-null  int64
 11  frame.encap_type            94625 non-null  int64
 12  frame.ignored               94625 non-null  int64
 13  frame.len                   94625 non-null  int64
 14  frame.marked                94625 non-null  int64
 15  frame.number                94625 non-null  int64
 16  frame.offset_shift          94625 non-null  float64
 17  mqtt.dupflag                94625 non-null  float64
 18  mqtt.hdrflags               55090 non-null  float64
 19  mqtt.len                    94625 non-null  float64
 20  mqtt.msg                    57132 non-null  float64
 21  mqtt.msgtype                94625 non-null  float64
 22  mqtt.qos                    94625 non-null  float64
 23  mqtt.retain                 94625 non-null  float64
 24  mqtt.topic                  56888 non-null  float64
 25  mqtt.topic_len              94625 non-null  float64
 26  type                        94625 non-null  int64
dtypes: float64(20), int64(7)
memory usage: 19.5 MB

In [11]:
print(df_data.isna().sum())

frame.time_delta                  0
frame.time_delta_displayed        0
frame.time_epoch                  0
frame.time_relative               0
ip.src                        94625
ip.dst                        94625
tcp.srcport                       0
tcp.dstport                       0
eth.src                       94625
eth.dst                       94625
frame.cap_len                     0
frame.encap_type                  0
frame.ignored                     0
frame.len                         0
frame.marked                      0
frame.number                      0
frame.offset_shift                0
mqtt.dupflag                      0
mqtt.hdrflags                 39535
mqtt.len                          0
mqtt.msg                      37493
mqtt.msgtype                      0
mqtt.qos                          0
mqtt.retain                       0
mqtt.topic                    37737
mqtt.topic_len                    0
type                              0
dtype: int64

In [12]:
df_data.drop(['ip.src', 'ip.dst', 'eth.src', 'eth.dst'], axis=1, inplace = True)
print(df_data.isna().sum())

frame.time_delta                  0
frame.time_delta_displayed        0
frame.time_epoch                  0
frame.time_relative               0
tcp.srcport                       0
tcp.dstport                       0
frame.cap_len                     0
frame.encap_type                  0
frame.ignored                     0
frame.len                         0
frame.marked                      0
frame.number                      0
frame.offset_shift                0
mqtt.dupflag                      0
mqtt.hdrflags                 39535
mqtt.len                          0
mqtt.msg                      37493
mqtt.msgtype                      0
mqtt.qos                          0
mqtt.retain                       0
mqtt.topic                    37737
mqtt.topic_len                    0
type                              0
dtype: int64

In [13]:
df_data['mqtt.hdrflags'] = df_data['mqtt.hdrflags'].fillna(df_data['mqtt.hdrflags'].mean())
df_data['mqtt.msg'] = df_data['mqtt.msg'].fillna(df_data['mqtt.msg'].mean())
df_data['mqtt.topic'] = df_data['mqtt.topic'].fillna(df_data['mqtt.topic'].mean())

print(df_data.isna().sum())

frame.time_delta              0
frame.time_delta_displayed    0
frame.time_epoch              0
frame.time_relative           0
tcp.srcport                   0
tcp.dstport                   0
frame.cap_len                 0
frame.encap_type              0
frame.ignored                 0
frame.len                     0
frame.marked                  0
frame.number                  0
frame.offset_shift            0
mqtt.dupflag                  0
mqtt.hdrflags                 0
mqtt.len                      0
mqtt.msg                      0
mqtt.msgtype                  0
mqtt.qos                      0
mqtt.retain                   0
mqtt.topic                    0
mqtt.topic_len                0
type                          0
dtype: int64

# Setelah Preprocessing

In [14]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94625 entries, 0 to 94624
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   frame.time_delta            94625 non-null  float64
 1   frame.time_delta_displayed  94625 non-null  float64
 2   frame.time_epoch            94625 non-null  float64
 3   frame.time_relative         94625 non-null  float64
 4   tcp.srcport                 94625 non-null  float64
 5   tcp.dstport                 94625 non-null  float64
 6   frame.cap_len               94625 non-null  int64
 7   frame.encap_type            94625 non-null  int64
 8   frame.ignored               94625 non-null  int64
 9   frame.len                   94625 non-null  int64
 10  frame.marked                94625 non-null  int64
 11  frame.number                94625 non-null  int64
 12  frame.offset_shift          94625 non-null  float64
 13  mqtt.dupflag                94625 non-null  float64
 14  mqtt.hdrflags               94625 non-null  float64
 15  mqtt.len                    94625 non-null  float64
 16  mqtt.msg                    94625 non-null  float64
 17  mqtt.msgtype                94625 non-null  float64
 18  mqtt.qos                    94625 non-null  float64
 19  mqtt.retain                 94625 non-null  float64
 20  mqtt.topic                  94625 non-null  float64
 21  mqtt.topic_len              94625 non-null  float64
 22  type                        94625 non-null  int64
dtypes: float64(16), int64(7)
memory usage: 16.6 MB