In [1]:
from google.colab import drive
drive.mount('/content/gdrive')
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")
from sklearn.preprocessing import LabelEncoder
import nltk
from sklearn.model_selection import train_test_split
import math
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import SimpleRNN
from keras.layers import Dropout
from keras.layers import Activation
from keras.layers import BatchNormalization
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix

import time

import warnings
warnings.filterwarnings("ignore")

Mounted at /content/gdrive

# Sebelum Preprocessing

In [2]:
df_data = pd.read_csv('gdrive/My Drive/TA/shuffle.csv')
df_data.head()

   Unnamed: 0                                        Flow ID  ... Idle Min    Type
0       60457  192.168.100.190-192.168.100.191-1883-18273-17  ...      0.0     DoS
1       37544   192.168.100.189-192.168.100.190-64446-1883-6  ...      0.0  Normal
2       51508   192.168.100.190-192.168.100.195-1883-54410-6  ...      0.0  Normal
3       99267  192.168.100.190-192.168.100.191-1883-44688-17  ...      0.0     DoS
4       54484  192.168.100.190-192.168.100.191-1883-16890-17  ...      0.0     DoS

[5 rows x 85 columns]

In [3]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118839 entries, 0 to 118838
Data columns (total 85 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         118839 non-null  int64
 1   Flow ID            118839 non-null  object
 2   Src IP             118839 non-null  object
 3   Src Port           118839 non-null  int64
 4   Dst IP             118839 non-null  object
 5   Dst Port           118839 non-null  int64
 6   Protocol           118839 non-null  int64
 7   Timestamp          118839 non-null  object
 8   Flow Duration      118839 non-null  int64
 9   Tot Fwd Pkts       118839 non-null  int64
 10  Tot Bwd Pkts       118839 non-null  int64
 11  TotLen Fwd Pkts    118839 non-null  float64
 12  TotLen Bwd Pkts    118839 non-null  float64
 13  Fwd Pkt Len Max    118839 non-null  float64
 14  Fwd Pkt Len Min    118839 non-null  float64
 15  Fwd Pkt Len Mean   118839 non-null  float64
 16  Fwd Pkt Len Std    118839 non-null  float64
 17  Bwd Pkt Len Max    118839 non-null  float64
 18  Bwd Pkt Len Min    118839 non-null  float64
 19  Bwd Pkt Len Mean   118839 non-null  float64
 20  Bwd Pkt Len Std    118839 non-null  float64
 21  Flow Byts/s        118839 non-null  float64
 22  Flow Pkts/s        118839 non-null  float64
 23  Flow IAT Mean      118839 non-null  float64
 24  Flow IAT Std       118839 non-null  float64
 25  Flow IAT Max       118839 non-null  float64
 26  Flow IAT Min       118839 non-null  float64
 27  Fwd IAT Tot        118839 non-null  float64
 28  Fwd IAT Mean       118839 non-null  float64
 29  Fwd IAT Std        118839 non-null  float64
 30  Fwd IAT Max        118839 non-null  float64
 31  Fwd IAT Min        118839 non-null  float64
 32  Bwd IAT Tot        118839 non-null  float64
 33  Bwd IAT Mean       118839 non-null  float64
 34  Bwd IAT Std        118839 non-null  float64
 35  Bwd IAT Max        118839 non-null  float64
 36  Bwd IAT Min        118839 non-null  float64
 37  Fwd PSH Flags      118839 non-null  int64
 38  Bwd PSH Flags      118839 non-null  int64
 39  Fwd URG Flags      118839 non-null  int64
 40  Bwd URG Flags      118839 non-null  int64
 41  Fwd Header Len     118839 non-null  int64
 42  Bwd Header Len     118839 non-null  int64
 43  Fwd Pkts/s         118839 non-null  float64
 44  Bwd Pkts/s         118839 non-null  float64
 45  Pkt Len Min        118839 non-null  float64
 46  Pkt Len Max        118839 non-null  float64
 47  Pkt Len Mean       118839 non-null  float64
 48  Pkt Len Std        118839 non-null  float64
 49  Pkt Len Var        118839 non-null  float64
 50  FIN Flag Cnt       118839 non-null  int64
 51  SYN Flag Cnt       118839 non-null  int64
 52  RST Flag Cnt       118839 non-null  int64
 53  PSH Flag Cnt       118839 non-null  int64
 54  ACK Flag Cnt       118839 non-null  int64
 55  URG Flag Cnt       118839 non-null  int64
 56  CWE Flag Count     118839 non-null  int64
 57  ECE Flag Cnt       118839 non-null  int64
 58  Down/Up Ratio      118839 non-null  float64
 59  Pkt Size Avg       118839 non-null  float64
 60  Fwd Seg Size Avg   118839 non-null  float64
 61  Bwd Seg Size Avg   118839 non-null  float64
 62  Fwd Byts/b Avg     118839 non-null  int64
 63  Fwd Pkts/b Avg     118839 non-null  int64
 64  Fwd Blk Rate Avg   118839 non-null  int64
 65  Bwd Byts/b Avg     118839 non-null  int64
 66  Bwd Pkts/b Avg     118839 non-null  int64
 67  Bwd Blk Rate Avg   118839 non-null  int64
 68  Subflow Fwd Pkts   118839 non-null  int64
 69  Subflow Fwd Byts   118839 non-null  int64
 70  Subflow Bwd Pkts   118839 non-null  int64
 71  Subflow Bwd Byts   118839 non-null  int64
 72  Init Fwd Win Byts  118839 non-null  int64
 73  Init Bwd Win Byts  118839 non-null  int64
 74  Fwd Act Data Pkts  118839 non-null  int64
 75  Fwd Seg Size Min   118839 non-null  int64
 76  Active Mean        118839 non-null  float64
 77  Active Std         118839 non-null  float64
 78  Active Max         118839 non-null  float64
 79  Active Min         118839 non-null  float64
 80  Idle Mean          118839 non-null  float64
 81  Idle Std           118839 non-null  float64
 82  Idle Max           118839 non-null  float64
 83  Idle Min           118839 non-null  float64
 84  Type               118839 non-null  object
dtypes: float64(45), int64(35), object(5)
memory usage: 77.1+ MB

# Preprocessing

In [4]:
df_data['Src IP'] = df_data['Src IP'].apply(pd.to_numeric, errors='coerce')
df_data['Dst IP'] = df_data['Dst IP'].apply(pd.to_numeric, errors='coerce')
df_data['Flow ID'] = df_data['Flow ID'].apply(pd.to_numeric, errors='coerce')
df_data['Timestamp'] = df_data['Timestamp'].apply(pd.to_numeric, errors='coerce')
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118839 entries, 0 to 118838
Data columns (total 85 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         118839 non-null  int64
 1   Flow ID            0 non-null       float64
 2   Src IP             0 non-null       float64
 3   Src Port           118839 non-null  int64
 4   Dst IP             0 non-null       float64
 5   Dst Port           118839 non-null  int64
 6   Protocol           118839 non-null  int64
 7   Timestamp          0 non-null       float64
 8   Flow Duration      118839 non-null  int64
 9   Tot Fwd Pkts       118839 non-null  int64
 10  Tot Bwd Pkts       118839 non-null  int64
 11  TotLen Fwd Pkts    118839 non-null  float64
 12  TotLen Bwd Pkts    118839 non-null  float64
 13  Fwd Pkt Len Max    118839 non-null  float64
 14  Fwd Pkt Len Min    118839 non-null  float64
 15  Fwd Pkt Len Mean   118839 non-null  float64
 16  Fwd Pkt Len Std    118839 non-null  float64
 17  Bwd Pkt Len Max    118839 non-null  float64
 18  Bwd Pkt Len Min    118839 non-null  float64
 19  Bwd Pkt Len Mean   118839 non-null  float64
 20  Bwd Pkt Len Std    118839 non-null  float64
 21  Flow Byts/s        118839 non-null  float64
 22  Flow Pkts/s        118839 non-null  float64
 23  Flow IAT Mean      118839 non-null  float64
 24  Flow IAT Std       118839 non-null  float64
 25  Flow IAT Max       118839 non-null  float64
 26  Flow IAT Min       118839 non-null  float64
 27  Fwd IAT Tot        118839 non-null  float64
 28  Fwd IAT Mean       118839 non-null  float64
 29  Fwd IAT Std        118839 non-null  float64
 30  Fwd IAT Max        118839 non-null  float64
 31  Fwd IAT Min        118839 non-null  float64
 32  Bwd IAT Tot        118839 non-null  float64
 33  Bwd IAT Mean       118839 non-null  float64
 34  Bwd IAT Std        118839 non-null  float64
 35  Bwd IAT Max        118839 non-null  float64
 36  Bwd IAT Min        118839 non-null  float64
 37  Fwd PSH Flags      118839 non-null  int64
 38  Bwd PSH Flags      118839 non-null  int64
 39  Fwd URG Flags      118839 non-null  int64
 40  Bwd URG Flags      118839 non-null  int64
 41  Fwd Header Len     118839 non-null  int64
 42  Bwd Header Len     118839 non-null  int64
 43  Fwd Pkts/s         118839 non-null  float64
 44  Bwd Pkts/s         118839 non-null  float64
 45  Pkt Len Min        118839 non-null  float64
 46  Pkt Len Max        118839 non-null  float64
 47  Pkt Len Mean       118839 non-null  float64
 48  Pkt Len Std        118839 non-null  float64
 49  Pkt Len Var        118839 non-null  float64
 50  FIN Flag Cnt       118839 non-null  int64
 51  SYN Flag Cnt       118839 non-null  int64
 52  RST Flag Cnt       118839 non-null  int64
 53  PSH Flag Cnt       118839 non-null  int64
 54  ACK Flag Cnt       118839 non-null  int64
 55  URG Flag Cnt       118839 non-null  int64
 56  CWE Flag Count     118839 non-null  int64
 57  ECE Flag Cnt       118839 non-null  int64
 58  Down/Up Ratio      118839 non-null  float64
 59  Pkt Size Avg       118839 non-null  float64
 60  Fwd Seg Size Avg   118839 non-null  float64
 61  Bwd Seg Size Avg   118839 non-null  float64
 62  Fwd Byts/b Avg     118839 non-null  int64
 63  Fwd Pkts/b Avg     118839 non-null  int64
 64  Fwd Blk Rate Avg   118839 non-null  int64
 65  Bwd Byts/b Avg     118839 non-null  int64
 66  Bwd Pkts/b Avg     118839 non-null  int64
 67  Bwd Blk Rate Avg   118839 non-null  int64
 68  Subflow Fwd Pkts   118839 non-null  int64
 69  Subflow Fwd Byts   118839 non-null  int64
 70  Subflow Bwd Pkts   118839 non-null  int64
 71  Subflow Bwd Byts   118839 non-null  int64
 72  Init Fwd Win Byts  118839 non-null  int64
 73  Init Bwd Win Byts  118839 non-null  int64
 74  Fwd Act Data Pkts  118839 non-null  int64
 75  Fwd Seg Size Min   118839 non-null  int64
 76  Active Mean        118839 non-null  float64
 77  Active Std         118839 non-null  float64
 78  Active Max         118839 non-null  float64
 79  Active Min         118839 non-null  float64
 80  Idle Mean          118839 non-null  float64
 81  Idle Std           118839 non-null  float64
 82  Idle Max           118839 non-null  float64
 83  Idle Min           118839 non-null  float64
 84  Type               118839 non-null  object
dtypes: float64(49), int64(35), object(1)
memory usage: 77.1+ MB

In [5]:
print(df_data.isna().sum())

Unnamed: 0         0
Flow ID       118839
Src IP        118839
Src Port           0
Dst IP        118839
               ...
Idle Mean          0
Idle Std           0
Idle Max           0
Idle Min           0
Type               0
Length: 85, dtype: int64

In [6]:
df_data.drop(['Src IP', 'Dst IP', 'Flow ID','Timestamp','Unnamed: 0'], axis=1, inplace = True)
print(df_data.isna().sum())

Src Port         0
Dst Port         0
Protocol         0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Type             0
Length: 80, dtype: int64

In [7]:
le = LabelEncoder()
 
df_data['Type']= le.fit_transform(df_data['Type'])

print(df_data['Type'])

0         0
1         1
2         1
3         0
4         0
         ..
118834    0
118835    0
118836    0
118837    0
118838    1
Name: Type, Length: 118839, dtype: int64

# Setelah Preprocessing

In [8]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118839 entries, 0 to 118838
Data columns (total 80 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Src Port           118839 non-null  int64
 1   Dst Port           118839 non-null  int64
 2   Protocol           118839 non-null  int64
 3   Flow Duration      118839 non-null  int64
 4   Tot Fwd Pkts       118839 non-null  int64
 5   Tot Bwd Pkts       118839 non-null  int64
 6   TotLen Fwd Pkts    118839 non-null  float64
 7   TotLen Bwd Pkts    118839 non-null  float64
 8   Fwd Pkt Len Max    118839 non-null  float64
 9   Fwd Pkt Len Min    118839 non-null  float64
 10  Fwd Pkt Len Mean   118839 non-null  float64
 11  Fwd Pkt Len Std    118839 non-null  float64
 12  Bwd Pkt Len Max    118839 non-null  float64
 13  Bwd Pkt Len Min    118839 non-null  float64
 14  Bwd Pkt Len Mean   118839 non-null  float64
 15  Bwd Pkt Len Std    118839 non-null  float64
 16  Flow Byts/s        118839 non-null  float64
 17  Flow Pkts/s        118839 non-null  float64
 18  Flow IAT Mean      118839 non-null  float64
 19  Flow IAT Std       118839 non-null  float64
 20  Flow IAT Max       118839 non-null  float64
 21  Flow IAT Min       118839 non-null  float64
 22  Fwd IAT Tot        118839 non-null  float64
 23  Fwd IAT Mean       118839 non-null  float64
 24  Fwd IAT Std        118839 non-null  float64
 25  Fwd IAT Max        118839 non-null  float64
 26  Fwd IAT Min        118839 non-null  float64
 27  Bwd IAT Tot        118839 non-null  float64
 28  Bwd IAT Mean       118839 non-null  float64
 29  Bwd IAT Std        118839 non-null  float64
 30  Bwd IAT Max        118839 non-null  float64
 31  Bwd IAT Min        118839 non-null  float64
 32  Fwd PSH Flags      118839 non-null  int64
 33  Bwd PSH Flags      118839 non-null  int64
 34  Fwd URG Flags      118839 non-null  int64
 35  Bwd URG Flags      118839 non-null  int64
 36  Fwd Header Len     118839 non-null  int64
 37  Bwd Header Len     118839 non-null  int64
 38  Fwd Pkts/s         118839 non-null  float64
 39  Bwd Pkts/s         118839 non-null  float64
 40  Pkt Len Min        118839 non-null  float64
 41  Pkt Len Max        118839 non-null  float64
 42  Pkt Len Mean       118839 non-null  float64
 43  Pkt Len Std        118839 non-null  float64
 44  Pkt Len Var        118839 non-null  float64
 45  FIN Flag Cnt       118839 non-null  int64
 46  SYN Flag Cnt       118839 non-null  int64
 47  RST Flag Cnt       118839 non-null  int64
 48  PSH Flag Cnt       118839 non-null  int64
 49  ACK Flag Cnt       118839 non-null  int64
 50  URG Flag Cnt       118839 non-null  int64
 51  CWE Flag Count     118839 non-null  int64
 52  ECE Flag Cnt       118839 non-null  int64
 53  Down/Up Ratio      118839 non-null  float64
 54  Pkt Size Avg       118839 non-null  float64
 55  Fwd Seg Size Avg   118839 non-null  float64
 56  Bwd Seg Size Avg   118839 non-null  float64
 57  Fwd Byts/b Avg     118839 non-null  int64
 58  Fwd Pkts/b Avg     118839 non-null  int64
 59  Fwd Blk Rate Avg   118839 non-null  int64
 60  Bwd Byts/b Avg     118839 non-null  int64
 61  Bwd Pkts/b Avg     118839 non-null  int64
 62  Bwd Blk Rate Avg   118839 non-null  int64
 63  Subflow Fwd Pkts   118839 non-null  int64
 64  Subflow Fwd Byts   118839 non-null  int64
 65  Subflow Bwd Pkts   118839 non-null  int64
 66  Subflow Bwd Byts   118839 non-null  int64
 67  Init Fwd Win Byts  118839 non-null  int64
 68  Init Bwd Win Byts  118839 non-null  int64
 69  Fwd Act Data Pkts  118839 non-null  int64
 70  Fwd Seg Size Min   118839 non-null  int64
 71  Active Mean        118839 non-null  float64
 72  Active Std         118839 non-null  float64
 73  Active Max         118839 non-null  float64
 74  Active Min         118839 non-null  float64
 75  Idle Mean          118839 non-null  float64
 76  Idle Std           118839 non-null  float64
 77  Idle Max           118839 non-null  float64
 78  Idle Min           118839 non-null  float64
 79  Type               118839 non-null  int64
dtypes: float64(45), int64(35)
memory usage: 72.5 MB